.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card {
  width: 200px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.card h2 {
  margin-bottom: 10px;
  font-size: 16px;
}
.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.chart-container h2 {
  margin-bottom: 10px;
  font-size: 18px;
}





